html {
	box-sizing: border-box;
}

*,
*::after,
::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
	color: #fff;
	background-color: #151515;
}

/* для того щоб притиснути футер донизу*/
html,
body {
	height: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* HEADER */

/* для того щоб притиснути футер донизу*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1220px;
	/* блок стає по центру */
	margin: 0 auto;
	padding: 0 10px;
	background-color: #111111;
}

.header {
	background-color: #151515;
}

.header-title {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding: 10px 0 10px 0;
	position: relative;
}

.header__content {
	background-image: url(../images/youtube-banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;
	padding: 0;
}

.video__text {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 40px 0 40px 0;
}

.video__content {
	margin: 0 auto;
	display: block;
	padding-bottom: 40px;
}

.download__btn {
	color: #fff;
	background-color: #A80000;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 21px;
	padding: 20px;
	font-size: 27px;
	max-width: 250px;
	display: block;
	text-align: center;
	margin: 0 auto;
	transition: all .5s;
}

.download__btn:hover {
	color: #A80000;
	background-color: transparent;
	border: 1px solid #A80000;
}


/* MAIN */
/* для того щоб притиснути футер донизу */
.main {
	flex-grow: 1;
}

.descr__title {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	padding: 40px 0 20px;
}

.descr__text {
	font-size: 16px;
	text-align: justify;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}

.descr__text:last-child {
	padding-bottom: 40px;
}

.gallery__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding: 40px;
	margin: 0 auto;
}

.gallery-img {
	width: 100%;
}

.gallery__title {
	font-weight: 400;
	text-align: center;
}

.step-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
	margin: 0 auto;
}

.step__content {
	background-image: url(../images/logo.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;
}

.step__text {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}

.step__text:last-child {
	padding-bottom: 40px;
}

.footer__social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer__social-img {
	height: 40px;
	transition: all .3s;
}

.footer__social-img:hover {
	transform: scale(1.1);
}

.footer__text {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	padding-bottom: 20px;
}

/* АДАПТИВ */
@media (max-width: 1100px) {
	.header__content {
		min-height: 190px;
	}

	.step__content {
		min-height: 210px;
	}
}

@media (max-width: 768px) {
	.header-title img {
		height: 21px;
	}

	.video__text {
		font-size: 14px;
	}

	.video__content {
		width: 500px;
	}

	.download__btn {
		padding: 16px;
		font-size: 23px;
		max-width: 210px;
	}

	.descr__title {
		font-size: 20px;
	}

	.descr__text {
		font-size: 14px;
	}

	.gallery__title {
		font-size: 14px;
		text-align: center;
	}

	.gallery__content {
		padding: 21px;
	}

	.step__text {
		font-size: 14px;
	}

	.step__content {
		min-height: 190px;
	}
}

@media (max-width: 620px) {
	.header-title {
		font-size: 14px;
	}

	.header__content {
		min-height: 150px;
	}

	.video__text {
		font-size: 12px;
		padding: 20px 10px 20px;
	}

	.download__btn {
		padding: 10px;
		max-width: 300px;
	}

	.descr__title {
		font-size: 18px;
		padding-top: 20px;
	}

	.descr__text {
		font-size: 12px;
	}

	.descr__text:last-child {
		padding-bottom: 20px;
	}

	.gallery__title {
		font-size: 12px;
	}

	.gallery__content {
		grid-template-columns: repeat(2, 1fr);
		gap: 35px;
	}

	.step__text {
		font-size: 12px;
	}

	.step__content {
		min-height: 131px;
	}

	.footer__social-img {
		height: 35px;
	}

	.footer__text {
		font-size: 12px;
	}
}

@media (max-width: 520px) {
	.header__content {
		min-height: 121px;
	}

	.video__content {
		width: 400px;
		height: 300px;
	}

	.download__btn {
		font-size: 20px;
		max-width: 250px;
	}

	.descr__text,
	.descr__text,
	.footer__text {
		font-size: 10px;
	}
}

@media (max-width: 420px) {
	.header-title {
		font-size: 12px;
	}

	.step__content {
		min-height: 101px;
	}

	.video__content {
		width: 350px;
		height: 200px;
	}
}

@media (max-width: 380px) {
	.header-title img {
		height: 13px;
	}

	.header__content {
		min-height: 101px;
	}

	.gallery__content {
		grid-template-columns: repeat(1, 1fr);
		gap: 25px;
	}

	.gallery-img {
		height: 200px;
		width: 250px;
		margin: 0 auto;
		display: block;
		padding-bottom: 11px;
	}

	.footer__social {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer__social-img {
		height: 31px;
	}
}